.hero4 {
    margin: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.hero4-box {
    display: flex;
    justify-content: center;
    width: 1300px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.hero4-left {
    border-right: 1px solid #ccc;
    padding-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.hero4-text-box {
    width: 80%;
    padding: 20px;
}

.hero4-head {
    font-size: 30px;
    font-weight: bolder;
}

.hero4-content {
    font-size: 15px;
    color: gray;
    margin-block: 20px;
}

.hero4-btn {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(38, 209, 138);
    color: white;
}

.ram-img {
    height: 500px;
}

/*---------------------------------------------*/

.hero4-right {
    padding-left: 30px;
    padding-block: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.sep{
    border-bottom: 1px solid #ccc;
    width: 70%;
}

.row-head {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.row-content {
    font-size: 15px;
    color: gray;
}