.hero3 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero3-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero3-link {
    color: rgb(255, 101, 126);
    margin-bottom: 40px;
}

.hero3-head {
    font-size: 50px;
    font-weight: bolder;
    margin-block: 10px;
}

.hero3-content {
    margin-top: 20px;
    font-size: 20px;
    color: gray;
}

.hero3-btn {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(38, 209, 138);
    color: white;
    margin-block: 50px;
}

.hero3-table {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-inline: 250px;
}

.hero3-table-column {
    background-color: rgba(251, 251, 251, 0.986);
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 20px;
}

.table-column-head {
    font-size: 22px;
    font-weight: bolder;
    margin-block: 10px;
}

.table-column-content {
    font-size: 17px;
    color: gray;
    margin-bottom: 30px;
}

.table-column-box {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/*------------------------------------------*/

.column-gpt-logo {
    height: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

.chat-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    padding-inline: 20px;
}

.chat-ai {
    width: 80%;
}

.chat-user {
    width: 75%;
    display: flex;
    align-self: self-end;
    background-color: rgba(190, 190, 190, 0.37);
    padding: 15px;
    border-radius: 10px;
}

.input-box {
    display: flex;
    background-color: rgba(243, 243, 243, 0.986);
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    margin-block: 15px;
    margin-inline: 7px;
}

.input-box-text {
    border: none;
    color: gray;
    margin-bottom: 15px;
}

.input-options {
    display: flex;
    justify-content: space-between;
}

.option1 {
    display: flex;
    gap: 20px;
}

.attatch-btn {
    height: 28px;
    width: 28px;
    font-size: 23px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: gray;
}

.web-btn {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: gray;
}

.input-box-btn {
    height: 28px;
    width: 28px;
    font-size: 18px;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
}

/*---------------------------------------------------*/

.table-column2-box{
    padding: 20px;
}

.column-head {
    font-size: 18px;
}

.highlight{
  background: rgb(252, 226, 179);
  padding: 2px 6px;
}

.column-content {
    font-size: 14px;
    color: gray;
    margin-block: 20px;
}

.stat-bar{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: lightgray;
    margin-block: 20px;
}

.stat-bar-ans1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(0, 16, 107);
    z-index: 1000;
}

.stat-bar-ans2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(24, 38, 240);
}

.percentage-box{
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
}

.percentage-box2{
    margin-right: 45px;
}

.percentage{
    font-size: 20px;
}

.percentage-text{
    font-size: 12px;
    color: rgb(170, 170, 170);
    margin-top: 10px;
}

.column-footer{
    margin-block: 20px;
}

.footer-text{
    color: gray;
}

/*------------------------------------------*/

.optimize-list{
    margin-top: 30px;
}

.optimize-list-item{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.column-btn{
    height: 35px;
    width: 35px;
    border: none;
    background-color: white;
    color: gray;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.date{
    font-size: 12px;
    color: gray;
}

.text{
    font-size: 15px;
}
